{% ckan_extends %}

{% block subtitle %}Acerca{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('home.about') }}">Acerca</a></li>
{% endblock %}

{% block about %}
  {% if not h.gobar_is_apn() %}
  <h2>Datos Abiertos</h2>

  <p>
    Desde la Dirección de Datos Abiertos, asistimos a los organismos
    gubernamentales nacionales, provinciales y municipales en la
    implementación de estrategias de apertura de sus datos, generando
    estándares, procedimientos, buenas prácticas y normativas con los
    siguientes objetivos:
  </p>

  <ul>
    <li>
      Evaluar y analizar activos con el objetivo de hacer recomendaciones y
      sugerencias en la calidad de la información brindada así como en sus
      metadatos.
    </li>
    <li>
      Aportar servicios y soluciones innovadoras que permitan abrir datos
      públicos, crear nuevas oportunidades de desarrollo, generar valor y
      beneficios en el uso y reutilización de la información.
    </li>
    <li>
      Liderar, coordinar y generar espacios de discusión con referentes de
      datos abiertos provenientes de organismos públicos y de la sociedad
      civil.
    </li>
    <li>
      Promover la colaboración entre el Estado y la ciudadanía, impulsando la
      transparencia activa, la rendición de cuentas y las políticas públicas
      basadas en evidencia.
    </li>
  </ul>

  <h2>¿Qué son los datos abiertos?</h2>

  <p>
    Los datos son la materia prima para generar información. Los datos
    públicos son aquellos generados en el ámbito gubernamental. Los datos son
    abiertos cuando se encuentran publicados con un formato abierto, bajo una
    licencia abierta explícita y con sus metadatos asociados.
  </p>

  <h2>¿Qué es datos.gob.ar?</h2>

  <p>
    El Portal Nacional de Datos Públicos conforma el punto de acceso unificado
    a la información que publican los diferentes organismos de la
    Administración Pública Nacional. Desde la Dirección de Datos Abiertos
    administramos el Portal, buscando ser un nexo cercano y un aliado
    estratégico para poder cumplir con el proceso de apertura y
    disponibilización de los datos de diferentes temáticas.
  </p>

  <h2>¿Qué productos brindamos?</h2>

  <p>
    Con el objeto de cumplir con las solicitudes de información por parte de
    la ciudadanía, así como impulsar activamente la apertura de datos en los
    organismos nacionales, desarrollamos y ponemos a disposición los
    siguientes productos.
  </p>
  {% else %}
  <h2>Portal Andino</h2>

  <p>
    Portal redistribuible de datos abiertos de la República Argentina.
  </p>

  <p>
    Es un portal de código abierto desarrollado por el equipo de Datos
    Argentina y con las tecnologías de CKAN (Comprehensive Knowledge Archive
    Network) con el fin de ayudar a los organismos públicos a abrir sus
    datos.
  </p>

  <h2>¿Para qué sirve?</h2>

  <p>
    Andino es un portal diseñado para facilitar el proceso de publicación,
    navegación y descarga de los datos que abren los organismos. Permite que
    el público en general reutilice los datos y fomenta la transparencia en
    las instituciones públicas. Cumple con el Perfil de Aplicación Nacional
    de Metadatos para Datos Abiertos.
  </p>

  <h2>¿Qué son los datos abiertos?</h2>

  <p>
    Los datos son la materia prima para generar información. Los datos
    públicos son aquellos generados en el ámbito gubernamental. Los datos son
    abiertos cuando se encuentran publicados con un formato abierto, bajo una
    licencia abierta explícita y con sus metadatos asociados.
  </p>
  {% endif %}

  <h2>Sobre CKAN</h2>
  {% snippet 'home/snippets/about_text.html' %}

  <p>{{ _('Este portal corre sobre CKAN {version}.').format(version=h.ckan_version()) }}</p>
{% endblock %}
