{% ckan_extends %}

{% block subtitle %}{{ h.gobar_organizations_label() }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for h.gobar_organizations_label(), named_route=group_type+'.index' %}</li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ h.gobar_organizations_label() }}</h1>
  {% block organizations_search_form %}
    {% snippet 'snippets/search_form.html', form_id='organization-search-form', type=group_type, query=q, sorting_selected=sort_by_selected, count=page.item_count, placeholder='Buscar ' ~ h.gobar_organizations_label()|lower ~ '...', show_empty=request.args, no_bottom_border=true if page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
  {% endblock %}
{% endblock %}

{% block secondary %}{% endblock %}
