{% ckan_extends %}

{% block heading %}
  <h3 class="dataset-heading">
    {{ h.link_to(
         package.dataset_title or package.title or package.name,
         h.url_for('dataset.read', id=package.name)
    ) }}
    {% if package.get('state', '').startswith('draft') %}
      <span class="label label-info">{{ _('Draft') }}</span>
    {% elif package.get('state', '').startswith('deleted') %}
      <span class="label label-danger">{{ _('Deleted') }}</span>
    {% endif %}
    {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
  </h3>
{% endblock %}
</br>