<header>
  <nav class="navbar navbar-default navbar-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Alternar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="Argentina.gob.ar" src="/gobar_theme/images/argentinagob.svg" height="50">
          <h1 class="sr-only">{{ g.site_title }}</h1>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ h.url_for('dataset.search') }}">Datos</a></li>
          <li><a href="{{ h.url_for('group.index') }}">Grupos</a></li>
          <li><a href="{{ h.url_for('organization.index') }}">Organizaciones</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>